/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.resume-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #D0CACA;
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}

header {
    margin-bottom: 20px;
}

.header-info {
    text-align: center;
    align-items: left; /* Centers items vertically */
    gap: 150px; /* Adds space between the image and content */
    margin-bottom: 20px;
}

.headshot {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1px;
    margin: 5px 0;
}

.headshot-container {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    margin-bottom: 10px
}

#name {
    font-family: 'Times New Roman', sans-serif; /* Change font to Arial or any other */
    font-size: 2.5em; /* Adjust font size */
    font-weight: bold; /* Make the text bold (optional) */
    color: #333; /* Change color (optional) */ 
}


h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

#contact {
    font-size: 0.9em;
    color: #777;
}


/* Project section styling */
#projects .project {
    margin-bottom: 10px;
}

.project button {
    background-color: #54575a;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.project button:hover {
    background-color: #909396;
}

.project-details {
    display: none;
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
}
